body, td, a {
    font-family: "Liberation", sans-serif;
    font-size: 12pt;
}

th {
    font-family: "Liberation", sans-serif;
    font-size: 16pt;
}

.sign {
    border: 1px solid #5f6a72;
    padding: 10px;
    display: block;
    width: 50%;
    float: inherit;
    margin: 0 10px 10px 0;
    text-align: center;

    figcaption {
        margin: 0 auto 5px;
    }
}

.text-line {
    --border: 2px dashed var(--accent);
    position: relative;
    color: var(--accent);
    margin: 0 0 15px;
    padding-top: 15px;
    border-top: var(--border);
    font-weight: normal;

    a {
        text-decoration: none;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    transition: 0.3s;
    border-radius: 5px;
    max-width: 400px;
    margin: 8px;
    float: right;
    padding: 15px;

    header {
        color: green;
        text-align: center;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

#galleria {
    width: 400px;
    height: 400px;
    background: transparent;
}

#whitebox {
    color: black;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    transition: 0.3s;
    border-radius: 5px;
    margin: auto;
    padding: 15px;
}

s {
    position: relative;
    text-decoration: none;
    &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        color: red;
        width: 100%;
        height: 0;
        border-bottom: 2px solid red;
    }  
}

@font-face {
    font-family:'METAFONT';
    font-style:normal;
    font-weight:normal;
    src:url("/fonts/mflogo/metafont.woff") format("woff"),
    url("/fonts/mflogo/metafont.ttf") format("truetype"),
    url("/img/METAFONT.svg") format("svg")
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;

    .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        
        position: absolute;
        z-index: 1;
    }
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
