{% macro styling() %}
    <link rel="stylesheet" href="{{ get_url(path="style.css") }}">
    <link rel="stylesheet" href="{{ get_url(path="styles.css") }}">
    {% if config.extra.theme_color != "orange" -%}
        {% set color = "color/" ~ config.extra.theme_color ~ ".css" -%}
        <link rel="stylesheet" href="{{ get_url(path=color) }}">
    {%- else -%}
        <link rel="stylesheet" href=" {{ get_url(path="color/orange.css") }}">
    {% endif %}
    {%- if config.extra.custom_css is defined -%}
        <link rel="stylesheet" href="{{ get_url(path="custom.css") }}">
    {% endif %}
{% endmacro styling %}

{% macro favicon() %}
    {%- if config.extra.favicon is defined -%}
        <link rel="shortcut icon" href="{{ get_url(path=config.extra.favicon) }}" type="image/x-icon" />
    {%- endif -%}    
{% endmacro favicon %}

{% macro rss() %}
    {%- if config.generate_feed -%}
        <link rel="alternate" type="application/rss+xml" title="{{ config.title }} RSS" href="{{ get_url(path="rss.xml") }}">
    {%- endif -%}
{% endmacro rss %}

{% macro fonts() %}
    <link rel="preload" href="/assets/fonts/FiraCode-Regular.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/assets/fonts/FiraCode-Bold.woff" as="font" type="font/woff" crossorigin>
{% endmacro fonts %}

{% macro general_meta() %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="description" content="{{ config.description }}"/>
{% endmacro general_meta %}
