{% if pkg %}
  <a href="https://www.ctan.org/pkg/{{ pkg | safe }}">{{ pkg }}</a>{% if doc %}<sup><a href="{{ doc | safe }}"><small>doc</small></a></sup>{% endif %}{% if desc %} - {{ desc }}{% endif %}
  {% if img %}
    <img src="https://www.ctan.org/teaser/pkg/{{ pkg | safe }}"{% if alt %} alt="{{ alt }}"{% endif %} class="{% if position %}{{ position }}{% else -%} center {%- endif %}" {%- if style %} style="{{ style | safe }}" {%- endif %} />
  {% endif %}
{% endif %}
